<div class="center hero-unit">
	<h1>Welcome to Giroud's Nipple</h1>
	<p>
		Welcome to the site for all of your ancient Latin text translation needs.
	</p>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("giroud.jpg", alt: "Giroud's Nipple"), 'http://en.wikipedia.org/wiki/Olivier_Giroud' %>