<% provide(:title, 'Verse for Doctor Fiveash') %>
<h1>Verse for Doctor Fiveash: A Thank You</h1>
<p>
	To the teacher who inspired generations to learn Latin.
</p>
<p>
	"But deep in a green vale father Anchises was surveying with earnest thought the imprisioned souls that were to pass to the light above and, as it chanced, was counting over the full number of his people and beloved children, their fates and fortunes, their works and ways."
</p>
<p>
	Aeneid VI: 679 -683
</p>
<p>
	Thank you Dr. Michael Fiveash.
</p>
